In [1]:
#importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
datasets=pd.read_csv('insurance_pre.csv')

In [3]:
datasets

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
datasets=pd.get_dummies(datasets,drop_first=True)

In [5]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=datasets[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep=datasets[['charges']]

In [7]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=  StandardScaler()
X_train= sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [11]:
from sklearn.ensemble import RandomForestRegressor

In [12]:

from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(X_train, Y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\rajah\anaconda3\envs\pugazh\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\Users\rajah\anaconda3\envs\pugazh\lib\site-packages\sklearn\ensemble\_forest.py:391: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [13]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 0.8697865296903611

In [14]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_gamma_deviance
mean_gamma_deviance=mean_gamma_deviance(Y_test,grid_predictions)

print("The mean_gamma_deviance for best parameter {}:".format(grid.best_params_),mean_gamma_deviance)

The mean_gamma_deviance for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 0.27419997636047583

In [15]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_poisson_deviance
mean_poisson_deviance=mean_poisson_deviance(Y_test,grid_predictions)

print("The mean_poisson_deviance for best parameter {}:".format(grid.best_params_),mean_poisson_deviance)

The mean_poisson_deviance for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 2028.988522973408

In [16]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import explained_variance_score
explained_variance_score=explained_variance_score(Y_test,grid_predictions)

print("The explained_variance_score for best parameter {}:".format(grid.best_params_),explained_variance_score)

The explained_variance_score for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 0.870564464313398

In [17]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import  max_error 
max_error= max_error(Y_test,grid_predictions)

print("The  max_error for best parameter {}:".format(grid.best_params_), max_error)

The  max_error for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 22582.685679399994

In [18]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_absolute_error
mean_absolute_error=mean_absolute_error(Y_test,grid_predictions)

print("The mean_absolute_error for best parameter {}:".format(grid.best_params_),mean_absolute_error)

The mean_absolute_error for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 2635.540551833707

In [19]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_squared_error
mean_squared_error=mean_squared_error(Y_test,grid_predictions)

print("The mean_squared_error for best parameter {}:".format(grid.best_params_),mean_squared_error)

The mean_squared_error for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 20765072.4603426

In [20]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import median_absolute_error
median_absolute_error=median_absolute_error(Y_test,grid_predictions)

print("The median_absolute_error for best parameter {}:".format(grid.best_params_),median_absolute_error)

The median_absolute_error for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 1252.0383787500025

In [21]:

# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import  mean_squared_log_error
mean_squared_log_error= mean_squared_log_error(Y_test,grid_predictions)

print("The  mean_squared_log_error for best parameter {}:".format(grid.best_params_), mean_squared_log_error)

The  mean_squared_log_error for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 0.22484647046847075

In [22]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error=mean_absolute_percentage_error(Y_test,grid_predictions)

print("The mean_absolute_percentage_error for best parameter {}:".format(grid.best_params_),mean_absolute_percentage_error)

The mean_absolute_percentage_error for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 0.3504472140386066

In [23]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import  d2_tweedie_score
d2_tweedie_score= d2_tweedie_score(Y_test,grid_predictions)

print("The  d2_tweedie_score for best parameter {}:".format(grid.best_params_), d2_tweedie_score)

The  d2_tweedie_score for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 0.8697865296903611

In [24]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import median_absolute_error
median_absolute_error=median_absolute_error(Y_test,grid_predictions)

print("The median_absolute_error for best parameter {}:".format(grid.best_params_),median_absolute_error)

The median_absolute_error for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 1252.0383787500025

In [25]:
table=pd.DataFrame.from_dict(re)

In [26]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.041029,0.003495,0.000791,0.001583,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.859161,0.745035,0.790761,0.757612,0.752319,0.780978,0.042113,12
1,0.304568,0.006902,0.013881,0.004922,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.862491,0.767378,0.818857,0.797270,0.770533,0.803306,0.035060,5
2,0.026929,0.005907,0.003125,0.006250,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.837905,0.780741,0.790248,0.812582,0.733867,0.791069,0.034744,8
3,0.238830,0.005587,0.015626,0.000001,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.865837,0.793725,0.810973,0.829038,0.771127,0.814140,0.032160,1
4,0.028123,0.006250,0.003125,0.006249,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.858020,0.751485,0.793340,0.802618,0.742635,0.789620,0.041287,10
5,0.234901,0.009937,0.020920,0.005899,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.865142,0.788971,0.805842,0.832526,0.770022,0.812500,0.033390,3
6,0.131232,0.014718,0.007103,0.004302,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.835372,0.758919,0.778694,0.785969,0.751110,0.782013,0.029537,11
7,1.260478,0.033751,0.019658,0.004013,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.855054,0.777886,0.801686,0.805626,0.763562,0.800763,0.031239,6
8,0.083028,0.013368,0.005407,0.005321,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.840039,0.777356,0.775372,0.810963,0.748456,0.790437,0.031756,9
9,0.807824,0.050880,0.017783,0.002334,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.862792,0.793525,0.807094,0.826761,0.767772,0.811589,0.031995,4
10,0.086804,0.013885,0.002560,0.001890,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.858764,0.785534,0.801031,0.807773,0.742534,0.799127,0.037477,7
11,0.691348,0.015033,0.010024,0.003441,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.856737,0.798204,0.808055,0.827575,0.772026,0.812519,0.028448,2

In [ ]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [ ]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))